# Spring Boot
target/
build/
out/
*.jar
*.war
*.ear
.idea/
*.iml
*.ipr
*.iws
*.log
logs/
application.properties
application-dev.properties

# Node.js
node_modules/
dist/
build/
out/
.env
.env.local
.vscode/


#terraform
.terraform/providers/registry.terraform.io/hashicorp/aws/5.92.0/darwin_amd64/terraform-provider-aws_v5.92.0_x5